body{
    margin-top: 0vw;
    margin-left: 25vw;
    margin-right:35vw;

    text-align: center;

}


#check-button{

    height:8vh;
   
    background-color:#F3F4F6;
}

.align{
    color:#F3F4F6;
}
.container{
    display:flex;
    flex-direction: column;
    width:40vw;
    background-color: #6B7280;
    border:1px solid black;
    
}

#take-input{
   
    margin-top: 1vw;
    padding-bottom:8vh
}
#msg{
    background-color:#F3F4F6;
}